$background-light-grey: #f1f1f1;
$background-grey: #bebebe;
$heading-grey: #999999;
$text-grey: #6d6d6d;
$link-grey: #494949;

html {
  scroll-behavior: smooth;
  min-width: 320px;
}

h1 {
  font-size: 4.375em;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-size: 2em;
}

body {
  background: $background-light-grey;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
  position: sticky;
  background: #fff;
  top: 0;

  z-index: 999;

  height: 55px;
  border-bottom: 1px solid $text-grey;

  // overrides bootstrap style with a higher level of specificity
  & > a {
    text-decoration: none;
    color: $text-grey;
  }

  &__link {
    font-size: 17px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 5px;
    margin: 0 20px;

    &:hover {
      color: darken($text-grey, 25%);
    }
    &:active {
      font-weight: 400;
    }
  }
}

.about {
  margin: 0 auto 20px auto;
  padding-top: 35px;
  height: fit-content;

  &__wrapper {
    margin: 0 auto;
    width: 60vw;

    // overrides bootstrap style with a higher level of specificity
    & > a {
      text-decoration: none;
      color: $link-grey;
    }
  }

  &__title {
    color: $heading-grey;
    font-weight: bold;
    margin: 0.67em 0;
  }

  &__cv-download {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto;

    padding: 5px;
    border: 2px solid $text-grey;
    border-radius: 3px;

    &:hover {
      background: darken($background-light-grey, 20%);
    }
  }
}

.projects {
  background: darken($background-light-grey, 5%);
  padding: 1px 0 20px 0;

  &__wrapper {
    margin: 0 auto;
    width: 85vw;
    height: fit-content;
  }

  &__title {
    color: $heading-grey;

    margin: 0.67em 0;

    padding: 0;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
  }

  &__item {
    display: flex;
    background: darken($background-light-grey, 10%);
    padding: 0.5em;
    border-radius: 1em;
    box-shadow: 0 3px 5px 0 rgb(114, 114, 114);

    width: 500px;
    min-width: 450px;
  }

  &__head > h4 {
    margin: 6px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
  }

  &__img {
    margin: 5px;
    max-height: 230px;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgb(114, 114, 114);
  }

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    // overrides bootstrap style with a higher level of specificity
    & > a {
      text-decoration: none;
      color: $link-grey;
    }
  }

  &__code {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto;

    padding: 5px;
    border: 2px solid $text-grey;
    border-radius: 3px;

    &:hover {
      background: darken($background-light-grey, 20%);
    }
  }

  &__logos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

    & > * {
      margin: 10px;
      max-width: 45px;
    }
  }
}

.skills {
  padding: 1px 0 20px 0;

  &__wrapper {
    margin: 0 auto;
    width: 70vw;
  }

  &__title {
    text-align: end;
    color: $heading-grey;
    margin: 0.67em 0;

    padding: 0;
  }

  &__section {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: end;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
  }

  &__logo {
    max-width: 50px;
  }

  &__logo-name {
    text-transform: uppercase;
    margin: 1em 0;
  }
}

.contacts {
  background: darken($background-light-grey, 5%);
  padding: 1px 0 20px 0;

  height: 800px;

  &__wrapper {
    width: 80vw;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__title {
    text-align: start;
    color: $heading-grey;
    margin: 0.67em 0;

    padding: 0;
  }

  &__contact-method {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 2em;

    #schedule-name,
    #schedule-email {
      float: right;
    }
  }

  &__comment-add-section,
  &__schedule-form {
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px $link-grey;

    button {
      margin-top: 5px;
    }
  }

  &__calendar {
    width: 20rem;
  }

  &__carousel {
    background: $background-grey;
    width: 35em;

    height: fit-content;
    margin: 2rem auto;

    padding: 1em;
    border-radius: 1em;
    box-shadow: 0px 0px 8px 10px #fff;
  }

  &__comment-text,
  &__comment-author {
    text-align: center;
  }

  &__link-container {
    margin-top: auto;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    height: 3rem;
  }

  &__link > img {
    padding: 0.5rem;
    margin: 0.5rem;
    height: 100%;
  }
}

@media only screen and (max-width: 1310px) and (min-width: 1018px) {
  .navbar {
    // background: red;
    justify-content: center;
    padding: 0;
  }

  .about {
    &__wrapper {
      width: 80vw;
    }
  }

  .projects {
    &__wrapper {
      width: 90vw;
    }

    &__item {
      flex-direction: column;
      align-items: center;
      width: 320px;
    }

    &__logos > * {
      margin: 20px 10px;
      max-width: 35px;
    }
  }

  .skills {
    &__wrapper {
      width: 90vw;
    }
  }
}

@media only screen and (max-width: 1018px) {
  .navbar {
    // background: green;
    justify-content: center;
    padding: 0;
  }

  .about {
    &__wrapper {
      width: 80%;
    }
  }

  .projects {
    &__wrapper {
      width: 100%;
    }
    &__title {
      text-align: center;
    }
    &__item {
      flex-direction: row;
      width: 500px;
    }

    &__logos > * {
      margin: 15px;
      max-width: 35px;
    }
  }

  .skills {
    &__wrapper {
      width: 100%;
    }

    &__title {
      text-align: center;
    }

    &__section {
      width: 90%;
    }
  }

  .contacts {
    &__wrapper {
      width: 100%;
    }

    &__title {
      text-align: center;
    }

    &__carousel {
      width: 25em;
    }
  }
}

@media only screen and (max-width: 900px) {
  .contacts {
    height: fit-content;

    &__link-container {
      margin-top: 2em;
    }
    &__contact-method {
      align-items: center;
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 619px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }

  .navbar {
    justify-content: center;
    height: fit-content;

    &__link {
      font-size: 0.8rem;
      font-weight: 500;
      margin: 0 auto;
      padding: 0.75em;
    }
  }

  .projects {
    padding-top: 1em;
    &__item {
      flex-direction: column;
      align-items: center;
      max-width: 70%;
      min-width: 12.5em;
    }

    &__img {
      height: 10em;
    }
  }

  .skills {
    padding-top: 1em;

    &__section {
      grid-template-columns: 1fr 1fr;
    }
  }

  .contacts {
    padding-top: 1em;

    &__schedule-form,
    &__comment-add-section {
      width: 80%;

      input,
      textarea {
        width: 100%;
      }
    }

    &__calendar {
      width: auto;
    }

    &__carousel {
      width: 80%;
    }
  }
}
